{% extends "base.html" %}
{% load static %}
    {% block content %}
    <script src="https://js.stripe.com/v3/"></script>
    <div class="container"><!-- Back Button -->
        <div class="back-button">
            <button onclick="goBack()">&#8592; Back</button>
        </div>
    
        <div class="product-image">
            <img src= {{ product.img.url}} alt={{ product.slug }}>
        </div>
        <div class="product-details">
            <h1> {{ product.name }}</h1>
            <p> {{ product.dis}} </p>
            <p class="price">${{ product.price }}</p>
            <div class="color-options">
                <span>Color:</span>
                <button class="color white"></button>
                <button class="color black"></button>
            </div>
            <div class="size-options">
                <span>Size:</span>
                <button class="size">S</button>
                <button class="size">M</button>
                <button class="size">L</button>
                <button class="size">XL</button>
                <button class="size">2XL</button>
                <button class="size">3XL</button>
            </div>
            <button class="add-to-cart" onclick=" location.href='{% url 'add_to_cart' product.slug %}' ">Add to Cart</button>
            <button id= 'checkout-button' class="shop-pay" >Buy with Shop Pay</button>
        </div> 
    </div>
<script> 
    const stripe = Stripe("{{stripe_pub_key }}"); // Replace with your Stripe publishable key
    const checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {
        fetch("/checkout/createSession/{{product.slug}}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}", // If using Django CSRF
            },
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                if (session.error) {
                    console.error("Error:", session.error);
                } else {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
function goBack() {
    window.history.back();
}
</script>
{% endblock content %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href={% static "frabic_styles.css" %}>
{% endblock styles %}
